body{
    background-color:  #f5f5fb;
}

/* Smallest Screens */
@media(min-width: 280px) and (max-width: 380px){
    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 200px 1300px 2650px 100px;
        grid-template-columns: auto;
        grid-template-areas:
        "hd"
        "fb"
        "main"
        "ft";
    }
}
/* Small Screens */
@media(min-width: 381px) and (max-width: 512px){
    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 200px 1300px 1800px 100px;
        grid-template-columns: auto;
        grid-template-areas:
        "hd"
        "fb"
        "main"
        "ft";
    }
}

/* Medium Screens */
@media(min-width: 513px) and (max-width: 955px){
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 350px 350px 1500px 100px;
        grid-template-areas:
        "hd"
        "fb"
        "fb"
        "main"
        "ft";
        /*border: 5px solid cornflowerblue;*/
    }
}

/* Large Screens */
@media(min-width: 956px){
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 300px 800px 100px;
        grid-template-areas:
        "hd"
        "fb"
        "main"
        "ft";
    }
}

.headerBox{
    grid-area: hd;
}

.footer{
    grid-area: ft;
}

.fotoBlock{
    grid-area: fb;
}

.content{
    grid-area: main;
}

.headerBox{
    display: flex;
    flex-direction: column-reverse;
}

ul{
    list-style-type: none;
}

.topnav{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.topnav a{
    float: left;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: darkgray;
    color: black
}

button#active{
    background-color: darkgray;
    color: white;
}

.dropbtn {
    background-color: #f3f3f3;
    color: darkgray;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 100px;
}

.dropdown-content a{
    background-color: #f3f3f3;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkgray;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: darkgray;
    color: black;
}

h1{
    padding: 5px;
}

#one{
    background-image: url("images/Austria_3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#two{
    background-image: url("images/Austria_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#three{
    background-image: url("images/Austria_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#four{
    background-image: url("images/Austria_4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#textBlock{
    font-family: "Baskerville Old Face";
}

#direction{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.photoBox{
    width: 210px;
    height: 340px;
    /*border: 1px solid saddlebrown;*/
    background: #f5f5fb;
    color: #1f1f1f;
    margin-right: 10px;
    /*text-underline: #1f1f1f;*/
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: dimgrey;
    color: white;
}

.fa-linkedin {
    background: dimgrey;
    color: white;
}


