@import "header.css";
@import "footer.css";
@import "main.css";

.container{
    display: grid;
    height: 100%;
    grid-template-rows: 200px 700px 700px 100px;
    grid-template-columns: auto;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

/* Smallest Screens */
@media(min-width: 280px) and (max-width: 320px){
    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 200px 1800px 1600px 100px;
        grid-template-columns: auto;
        grid-template-areas:
        "hd"
        "main"
        "sd"
        "ft";
    }
}
/* Small Screens */
@media(min-width: 321px) and (max-width: 610px){
    .container{
        display: grid;
        height: 100%;
        grid-template-rows: 200px 1700px 1100px 100px;
        grid-template-columns: auto;
        grid-template-areas:
        "hd"
        "main"
        "sd"
        "ft";
    }
}

/* Medium Screens */
@media(min-width: 611px) and (max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 1600px 100px;
        grid-template-areas:
        "hd hd hd hd"
        "sd sd main main"
        "ft ft ft ft";
    }
}

/* Large Screens */
@media(min-width: 901px){
    .container {
        display: grid;
        grid-template-rows: 200px 500px 650px 100px;
        grid-template-columns: auto;
        grid-template-areas:
        "hd"
        "main"
        "sd"
        "ft";
    }
}

.header{
    grid-area: hd;
}

.footer{
    grid-area: ft;
}

.sidebar{
    grid-area: sd;
}

.content{
    grid-area: main;
}

.header{
    display: flex;
    flex-direction: column-reverse;
}

ul{
    list-style-type: none;
}

.card {
    height: 410px;
    width: 210px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-justify: distribute;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 2px;
}


.card .countriesButton {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
    display: block;
    text-justify: auto;
    box-sizing: content-box;
    padding: 2px 4px;
}

.sidebar{
    display: block;
}

#direction{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


h2{
    text-justify: unset;
    text-align: center;
    font-family: "Goudy Old Style";
}

#traveller{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
