@import "header.css";
@import "footer.css";
@import "main.css";
@import "photoBlock.css";
@import "responsiveCountries.css";

.headerBox{
    grid-area: hd;
}

.footer{
    grid-area: ft;
}

.fotoBlock{
    grid-area: fb;
}

.content{
    grid-area: main;
}

.headerBox{
    display: flex;
    flex-direction: column-reverse;
}

ul{
    list-style-type: none;
}

h1{
    padding: 5px;
}

#one{
    background-image: url("images/PortugalImage_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#two{
    background-image: url("images/PortugalImage_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#three{
    background-image: url("images/PortugalImage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#four{
    background-image: url("images/PortugalImage_5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
